*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}
header{
   margin: 0 auto;
}
main{
    margin-top: 20px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav{
    height: 60px;
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
nav img{
    height: 50px;
    aspect-ratio: 1/1;
    padding: 5px;
    filter: invert(1);
}
nav .search-box input {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #555;
    background: #444;
    color: white;
    outline: none;
}
nav .search-box button {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #555;
    background: #444;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}
nav .search-box button:hover {
    background-color: #555;
}
nav .nav-menu{
    display: flex;
    gap: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    gap: 5px;
}
nav ul li{
    background-color: #444;
    border-radius: 4px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;;
    padding: 5px 8px;
    display: block;
}
nav ul li a:hover{
    background-color: #555;
    border-radius: 4px;
}
.posts{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
.post-card {
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: fit-content;
}
.post-card img {
    width: 50%;
    padding: 5px;
    height: auto;
    border-radius: 4px;
}
.post-card h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    align-self: center;
    padding: 10px;
}
.post-card p {
    color: #555;
    white-space: pre-wrap;
    padding: 5px;
}


footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
@media screen and (max-width: 800px) {
    nav .search-box {
        display: none;
    }
    .post-card img {
        width: 100%;
    }
    .post-card {
        flex-grow: 1;
    }
    
}